.profile__about {
  margin: 0;
  grid-area: about;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  align-self: start;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
  }
}
