.profile__info {
  display: grid;
  grid-template-columns: max-content min-content;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
  "name edit"
  "about .";
  row-gap: 16px;
  column-gap: 18px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__info {
    grid-template-rows: 1fr min-content;
    row-gap: 14px;
    column-gap: 10px;
    justify-items: center;
    margin-bottom: 36px;
  }
}
