.profile__info {
  display: grid;
  grid-template-columns: minmax(auto, 300px) auto;
  grid-template-areas:
  "name edit"
  "about .";
  row-gap: 16px;
  column-gap: 18px;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    row-gap: 0;
    margin-bottom: 36px;
  }
}
